* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

*::selection {
  background: #e05a8e;
}

select {
  height: 2em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input:focus,
select:focus  {
  outline: none;
}


.color {
  color: #709192;
}

input[type='radio'] {
  -webkit-appearance:none;
  width:13px;
  height:13px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px rgb(199, 199, 199);
}
input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
  cursor: pointer;
}
input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  // background:#465c5b;
}